.login-area {
    font-size:20px;
    text-align:left;
    margin-left: 30%;
    margin-top: 80px;
}

.register-area {
    font-size:20px;
    color:darkgreen;
    text-align:left;
    margin-left: 30%;
    margin-top: 50px;
}




body{
    background-color:#2f6b3a;
}



.login-area,
.register-area{
    color:white;
}